@charset "UTF-8";

/* SVG */

#header .logo { background-image: url('/images/logo.min.svg?3'); }
#header nav.social ul li a { background-image: url('/images/social.min.svg?3'); }

.breadcrumbs ul li a.home { background-image: url('/images/home.min.svg'); }

#content .cars .item .container .image,
#content .car .image  { background-image: url('/images/logo.min.svg?3'); }