@charset "UTF-8";

#header_protector {
	height: $h;
	&.fixed { height: 166px; }
}

#header {
	position: fixed;
	background: #FFF;
	top: 0;
	left: 0;
	z-index: 120;
	height: $h;
	width: 100%;
	@include font-size(16, 24);

	// Общие
	.inner {
		max-width: 1000px;
		margin: 0 auto;
		padding: 20px;
		position: relative;
		z-index: 1;
	}

	.logo {
		float: left;
		height: 90px;
		width: 180px;
		margin-top: 2px;
		position: relative;
		background-repeat: no-repeat;
		@include background-size();
		@include transition(all, .2s);

		&:focus,
		&:hover {
			@include transform(scale(1.1));
		}
	}

	.menu-icon {
		display: none;
		float: right;
		width: 28px;
		height: 50px;
		padding: 0 20px;
		position: relative;
		opacity: 0.8;
		margin-right: -20px;

		&:focus,
		&:hover {
			opacity: 1;
		}

		span {
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			bottom: auto;
			right: auto;
			width: 28px;
			height: 2px;
			background-color: $red;
			@include transform(translateX(-50%) translateY(-50%));
			@include transition(background-color, .3s);

			&:before,
			&:after {
				content: ' ';
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: $red;
				top: 9px;
				right: 0;
				-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
				-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
				transition: transform .3s, top .3s, background-color 0s;
			}

			&:before {
				top: -9px;
			}
		}

		&.open span {
			background: transparent;

			&:before {
				top: 0;
				@include transform(rotate(135deg));
			}
			&:after {
				top: 0;
				@include transform(rotate(225deg));
			}
		}
	}

	.toright {
		float: right;
		margin-top: 14px;
		
		.phone {
			display: inline-block;
			height: 50px;
			line-height: 50px;
			text-align: right;
		}

		// Соцкнопки
		nav.social {
			margin-right: -2px;
			margin-top: 12px;
			margin-left: 10px;
			float: right;
			@include transition(all, .3s);
			
			ul li {
				float: left;
				
				a {
					display: block;
					width: 25px;
					height: 21px;
					margin-left: 15px;
					
					&.fb { background-position: 0 0; width: 12px; height: 23px;}
					&.vk { background-position: -13px -3px; margin-top: 3px; width: 30px; height: 18px; }
					&.tw { background-position: -45px -3px; width: 24px; height: 19px; margin-top: 3px; }
					&.ok { background-position: -70px 0; width: 16px; height: 24px; }
					&.ins { background-position: -86px -2px; width: 21px; margin-top: 2px; }
					&.fb:hover { background-position: 0 -24px; }
					&.vk:hover { background-position: -13px -27px; }
					&.tw:hover { background-position: -45px -27px; }
					&.ok:hover { background-position: -70px -24px; }
					&.ins:hover { background-position: -86px -26px; }
				}
			}
		}
	}

	// Главное меню
	nav.menu {
		height: $menu;
		top: 34px;
		position: absolute;
		width: 100%;
		@include box-shadow(1px,0,0 1px,$light, inset);
		
		ul {
			max-width: 600px;
			margin: 0 auto;
			padding: 0 20px;

			li {
				float: left;
				height: $menu;
				font-size: 16px;
				line-height: $menu;		
				text-transform: uppercase;	
				position: relative;

				a {
					display: block;
					padding: 0 15px;
					color: $maincolor;
					position: relative;
					height: $menu;
					font-size: 16px;
					line-height: $menu;
					white-space: nowrap;
					
					
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background: none;
						@include transition(all, .3s);
					}

					&:focus,
					&:hover,
					&.active {
						&:after {
							background: red;
							@include transition(none);
						}
					}

					&:active {
						background: rgba(255,255,255,.1);
					}
				}
			}
		}
	}
}
