@charset "utf-8";

/* Reset ------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	font-family: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
:outline, :focus {
	outline: none;
}

html, body {
	height:100%;
}
body {
	color: $maincolor;
	background: #fff !important;
	font-size: 62.5%;
	@include font-family();
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.no_scroll {
	overflow: hidden;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display:block
}
audio,canvas,video {
	display:inline-block;
}
audio:not([controls]) {
	display:none
}
table {
	font-size: inherit;
	font: 100%;
	border-collapse:collapse;
	width:100%;
}
ul {
	list-style: none;
	margin-top: 0;
	margin-left: 0;
}
img {
	height:auto;
	border:0;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic
}
sup {
	font-size: 0.8em;
	position: relative;
	top: -3px
}
sub {
	font-size: 0.8em;
	position: relative;
	bottom: -2px
}
blockquote, q {
	quotes:"" "";
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}



/* Button/Input ------------------------------------------*/

button,input,select,textarea {
	@include font-family();
	margin:0;
	font-size:100%;
	vertical-align:middle
}
textarea {
	overflow:auto;
	vertical-align:top
}
button,input {
	outline: 0;
	line-height:normal
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
	cursor:pointer
}
input[type="search"] {
	box-sizing:content-box;
	-webkit-appearance:textfield
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:none
}




/* Links ------------------------------------------*/

a {
	color: $maincolor;
	text-decoration:none;
	transition: color .2s;
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
a:visited {
	color:#000;
}
a:hover, a.hover {
	text-decoration:none;
	transition: none;
}
a:hover, a:active {
	outline:0;
}





/* Default ------------------------------------------*/

#wrapper {
	min-height: 100%;
	position: relative;
	float: none;
}

#transparent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}

#shadow {
	display: none;
	background: rgba(0,0,0,.75);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
}
#shadow.white { background: rgba(255,255,255,.75); }

#cursor {
	display: none;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 100000;
}

body.noscroll {
	overflow: hidden;
}

.clear{
	clear: both;
}
.clear_after {
	content: " ";
	display: block;
	clear: both;
}

.noborder {
	border: 0 !important;
}

.hidden {
	display: none !important;
}

.tr-before:before,
.tr-after:after,
.tr { @include transition(all, .3s); }

