
//	Основные цвета
	$maincolor: #444;
	$blue: #59b4e2;
	$light: rgba(125,142,129,.09);
	$light5: rgba(125,142,129,.05);
	$light-solid: #f3f5f7;
	
	$red: red;
	
	$blue5:  rgba(125,142,129,.09);
	$blue10: rgba(108,138,188,.1);
	$blue20: rgba(108,138,188,.2);
	$blue30: rgba(108,138,188,.3);

//	Оттенки
	$gray: #ccc;
	$gray3: #333;
	$gray9: #999;

//	Соцсети
	$fb: #4661b6;	$fb-fill: #5071ba;
	$vk: #597ea7;	$vk-fill: #4b7db7;
	$tw: #39b9ee;	$tw-fill: #55acee;
	$ok: #f37b0f;	$ok-fill: #ffa024;

//	Шрифт
	$object-font-size: 16;
	$object-line-height: 20;

// Шапка
	$h: 114px;
	$menu: 50px;

// Подвал
	$footer: 125px;
	$f: 32px;